@charset "UTF-8";

/* CSS Document */
body,
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    background-color: #08070F;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

#masthead {
    padding: 65px 0;
}

.image-container2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-container2 video,
.image-container2 .menu-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container2 video {
    transition: none;
}

.image-container2 video#video-parte1,
.image-container2 video#video-parte2 {
    opacity: 0;
    pointer-events: none;
}

.image-container2 video#video-parte1.video-visible,
.image-container2 video#video-parte2.video-visible {
    opacity: 1;
    pointer-events: auto;
}

.image-container2 video.video-hidden {
    opacity: 0;
    pointer-events: none;
}

.menu-image {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 2;
    pointer-events: none;
}

.menu-image.visible {
    opacity: 1;
    z-index: 3;
    pointer-events: auto;
}

.hover-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}